<template>
  <div>
    <nav
      class="navbar header has-shadow is-dark is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img
              src="~assets/buefy.png"
              alt="Buefy"
              height="28"
            >
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item is-active" href="/add">Ajouter</a>
        </div>
      </div>
    </nav>
    
    <section class="main-content columns">

      <div class="container column is-12">
        <nuxt />
      </div>

    </section>
  </div>
</template>
