<template>
  <div class="section">

    <Hero title="Ajouter un article" />

    <form v-on:submit.prevent="submitForm">
      <b-field label="Titre" label-for="title">
        <b-input v-model="title" id="title"></b-input>
      </b-field>
      <b-field label="Image" label-for="image">
        <b-input v-model="image" id="image"></b-input>
      </b-field>
      <b-field label="Contenu" label-for="content">
        <b-input type="textarea" v-model="content" id="content"></b-input>
      </b-field>
      <button class="button is-primary">Envoyer</button>
      <nuxt-link to="/" class="button">Retour</nuxt-link>
    </form>

  </div>
</template>

<script>
import Hero from '@/components/Hero'

export default {
  components: {
    Hero
  },
  name: 'addPost',
  head: {
    title: 'Ajouter un article',
  },
  data() {
    return {
      title: '',
      image: '',
      content: ''
    }
  },
  methods: {
    submitForm: async function () {
      console.log(this.$axios);
      const title = this.title
      const image = this.image
      const content = this.content
      const data = { title, image, content }
      //return axios.post(`${$axios.defaults.baseURL}/posts`, data)
     return this.$axios.$post(`${this.$axios.defaults.baseURL}/posts`, data)
      .then(res => {
        this.$router.push('/')
      }).catch((e) => {
        console.error(e.message)
      })
    }
  },
}
</script>
