<template>
  <div class="section">

    <Hero title="Bienvenue sur mon blog" :subtitle="posts.length + ' articles'" />

    <article class="columns is-multiline">
      <div v-for="post in posts" class="column is-one-third" :key="post.id">
        <div class="card">
        <header class="card-header">
          <h2 class="card-header-title">{{ post.title }}</h2>
          </header>
          <div class="card-content">
            <div class="content">
              <img  :src="post.image" alt="" width="618" height="375" />
            </div>
          </div>
          <footer class="card-footer">
            <nuxt-link :to="post.id" class="card-footer-item">Lire la suite</nuxt-link>
          </footer>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import Hero from '@/components/Hero'

export default {
  components: {
    Hero
  },
  head: {
    title: 'Bienvenue sur mon blog',
  },
  data() {
    return {
      posts: '',
    }
  },
  name: 'HomePage',
  async asyncData ({$axios}) {
    return await $axios.$get(`${$axios.defaults.baseURL}/posts`)
    .then(res => {
      return { posts: res.reverse() }
    })
  }
}
</script>
