<template>
  <div class="section">
    <article v-if="post">
      <Hero :title="post.title" />
      <div class="content">
        <figure class="image">
          <img :src="post.image" alt="" />
        </figure>
        <p>{{ post.content }}</p>
        <nuxt-link to="/" class="button">Retour</nuxt-link>
      </div>
    </article>
    <div v-else>
      <h1 class="title is-3 has-text-grey">Oups</h1>
    </div>
  </div>
</template>

<script>
import Hero from '@/components/Hero'

export default {
  components: {
    Hero
  },
  data() {
    return {
      post: '',
    }
  },
  asyncData ({ $axios, params }) {
    return $axios.$get(`${$axios.defaults.baseURL}/posts/${params.slug}`)
    .then(res => {
        return { post: res }
    })
    .catch(e => {
        console.error(e.message)
    })
  }
}
</script>
